$approvalStageColorDark: #417;
$approvalStageColor: #639;
$approvalStageColorLight: #85b;
$approvalStageColorLightest: #b8e;

@mixin ApprovalStageScrollBar {
    -ms-scrollbar-base-color: $approvalStageColorLightest;
    scrollbar-base-color: $approvalStageColorLightest;
    -ms-scrollbar-track-color: $approvalStageColor;
    scrollbar-track-color: $approvalStageColor;
    -ms-scrollbar-arrow-color: $approvalStageColorLightest;
    scrollbar-arrow-color: $approvalStageColorLightest;
    -ms-scrollbar-shadow-color: $approvalStageColor;
    scrollbar-shadow-color: $approvalStageColor;

    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: $approvalStageColorDark;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $approvalStageColorLightest;
    }

    &::-webkit-scrollbar-corner {
        background-color: $approvalStageColor;
    }
}

body[data-folder-color='CardApprovalStage'] {
    .column-header,
    nav, .row-sidebar {
        background-color: $approvalStageColor;
    }

    .card-type-background-color {
        background-color: $approvalStageColor;
    }

    .card-type-background-color-hover:hover {
        background-color: $approvalStageColor;
    }

    .card-type-background-color-light {
        background-color: $approvalStageColorLight;
    }

    .card-type-background-color-light-hover:hover {
        background-color: $approvalStageColorLight;
    }

    .card-type-background-color-disabled {
        background-color: $approvalStageColorLightest;
    }

    .card-type-foreground-color {
        color: $approvalStageColor;
    }

    .row-sidebar {
        @include ApprovalStageScrollBar;
    }

    .sidebar-open {
        background: $approvalStageColor url("../../../Navigator/Images/shadow-universal.png") no-repeat top left;
        background-position: 20px 20px;
    }
}

.approval-stage-color {
    background-color: $approvalStageColor;
}